In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error
import json

In [50]:
data = pd.read_csv( '../data/numeric_data.csv')
data.info()
data.describe()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20833 entries, 0 to 20832
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Institute              20833 non-null  int64
 1   Gender                 20833 non-null  int64
 2   Year                   20833 non-null  int64
 3   Academic_Program_Name  20833 non-null  int64
 4   Closing_Rank           20833 non-null  int64
 5   Opening_Rank           20833 non-null  int64
 6   Seat                   20833 non-null  int64
 7   Disability             20833 non-null  int64
dtypes: int64(8)
memory usage: 1.3 MB

,Institute,Gender,Year,Academic_Program_Name,Closing_Rank,Opening_Rank,Seat,Disability
0,0,0,2016,0,651,583,0,0
1,1,0,2016,1,21,21,1,1
2,1,0,2016,2,60,1,2,0
3,1,0,2016,3,848,338,3,0
4,1,0,2016,4,2971,1657,2,0

In [51]:
# Define input columns (features) and output columns (targets)
input_columns = ['Institute', 'Gender', 'Year', 'Academic_Program_Name', 'Seat', 'Disability']
output_columns = ['Closing_Rank', 'Opening_Rank']

X = data[input_columns]  # Input features
y = data[output_columns]  # Target outputs

In [52]:
# Fill any missing values in the input data with the median (for simplicity)
X = X.fillna(X.median())

In [53]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import joblib

# Define models in a dictionary
models = {
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Decision Tree 2.5x': DecisionTreeRegressor(random_state=105),
    'Random Forest': RandomForestRegressor(random_state=42),
    'Random Forest 2.5x': RandomForestRegressor(random_state=105),
    'K-Nearest Neighbors': KNeighborsRegressor()
}

# Store results
results = []

# Train each model and evaluate
for model_name, model in models.items():
    # Train the model
    model.fit(X_train, y_train)
    
    # Predict on the test set
    y_pred = model.predict(X_test)
    
    # Calculate metrics
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    # Append the results
    results.append({
        'Model': model_name,
        'MSE (Mean Squared Error)': mse,
        'MAE (Mean Absolute Error)': mae,
        'R² Score': r2
    })

In [55]:
# Convert results to a DataFrame for easy comparison
results_df = pd.DataFrame(results)

# Display the results sorted by R² Score
print(results_df.sort_values(by='R² Score', ascending=False))

                 Model  MSE (Mean Squared Error)  MAE (Mean Absolute Error)  \
4   Random Forest 2.5x              8.103081e+05                 492.698895
3        Random Forest              8.178950e+05                 493.159518
1        Decision Tree              1.181190e+06                 522.941205
2   Decision Tree 2.5x              1.185123e+06                 523.470002
5  K-Nearest Neighbors              5.348785e+06                1419.261867
0    Linear Regression              1.368343e+07                2443.755743

   R² Score
4  0.949435
3  0.949016
1  0.926368
2  0.926128
5  0.673040
0  0.165795

In [56]:
Selectedmodel = RandomForestRegressor(random_state=105)
Selectedmodel.fit(X_train, y_train)
# Saving the model to a file
joblib.dump(Selectedmodel, 'random_forest_model.pkl')

['random_forest_model.pkl']